body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.row {
  display: flex;
  justify-content: center;
}

.block {
  display: block;
  pointer-events: auto;
}

.hidden {
  display: none;
  pointer-events: none;
}
